.topBar {
  display: grid;
  border-bottom: 10px solid rgba(26, 32, 44);
  grid-template-columns: auto auto;
  margin: auto 0;
}

.leftContent {
  justify-self: start;
  padding-left: 1em;
  margin: auto 0;
}

.rightContent {
  justify-self: end;
  padding-right: 1em;
  margin: auto 0;
}
